* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-family: "Instrument Sans", sans-serif;
}

p,
.label-float,
.remember {
    font-family: "Instrument Sans", sans-serif;
    color: #000000a6;
}

h1,
h2,
h3,
h4,
h5,
.card-title {
    font-family: "Unbounded", sans-serif;
}